In [1]:
#Biblioteca
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

✅ Checklist de Exploração do Dataset Iris

1. **Visão Geral**

In [25]:
iris = load_iris() #Carregando o conjunto de dados Iris
x_data = pd.DataFrame(iris['data'], columns=iris['feature_names']) #Transformando o conjunto em DataFrame Pandas
x_data['target'] = iris['target']

In [26]:
x_data.head()# Exibindo as 5 primeiras linhas

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [27]:
x_data.sample(5)# Exibindo 5 amostras aleatorias dos dados

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
34,4.9,3.1,1.5,0.2,0
121,5.6,2.8,4.9,2.0,2
37,4.9,3.6,1.4,0.1,0
111,6.4,2.7,5.3,1.9,2
35,5.0,3.2,1.2,0.2,0

In [28]:
x_data.tail()#Exibindo as 5 ultimas linhas

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [29]:
x_data.shape# Exibe a quantidade de linhas e colunas

(150, 5)

In [30]:
x_data.columns# Exibe os nomes das colunas

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [ ]:
x_data.info()# Informacoes sobre as colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

2. **Qualidade dos Dados**

In [ ]:
x_data.isnull().sum()# Verificando se a valores nulos no dataframe

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [ ]:
x_data.index[x_data.index.duplicated()]# Verifica se a valores duplicados no dataframe

Index([], dtype='int64')

In [37]:
x_data.describe()# Resumo estatistico de colunas numericas

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

3. **Análise de Classes**